<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="{% static "E_14_2/E_14_2.js" %}"></script>
</head>
<body>
	<h3>網路爬蟲股價資料匯入資料庫</h3>
	<table border="0">
	<tr>
		<td><fieldset>
			<legend>讀取即時股價資料:</legend>
			<span>股票代號:</span><input type="text" id="insert_stock" value="3008"><p>
			<span>起始日:</span><input type="date" id="start_date" value="2007-10-01">			
			<span>終止日:</span><input type="date" id="end_date" value="2017-09-30"><br><br>
		　　<input type="button" id="btn_insert" value="新增"> 
		</fieldset></td>
		</tr>
	</table>
	<span id="result" ></span><br><br>
</body>
</html> 
