span.format {
  color: Indigo ;
}
div.format {
  color: IndianRed;
}
hr.format {
  color: HotPink;
}
p.format {
  color: blue;
  background-color: yellow;
  font-size: 16pt;
  font-style: normal;
}
input[type=button] {
    background-color: DarkSalmon;
    border: none;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    margin: 3px 1px;
    cursor: pointer;
}