p {
    color: DarkOrange ;
}
h3 {
 
}
div {
    background-color: AliceBlue;
    color: DarkOrchid ;
    border: 1px solid;
    padding: 20px;
}
input[type=button] {
    background-color: DarkSalmon;
    border: none;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    margin: 3px 1px;
    cursor: pointer;
}