input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid Coral;
    border-radius: 4px;
    background-color:BlanchedAlmond;   
    color: BlueViolet;
}
input[type=button], input[type=reset] {
    background-color: DarkSalmon;
    border: none;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    margin: 3px 1px;
    cursor: pointer;
}
p {
    display: inline;
    color: blue;
}