<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.macdidi.basicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
            使用activity標籤加入元件的設定
            android:name設定元件的類別名稱，
            如果元件類別不是放在應用程式的主套件下，就要使用包含套件的全名，
            如果元件類別在應用程式的主套件下，只要在類別名稱前面加上「.」就可以了，
            android:label設定元件畫面的標題
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>