<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>公司簡稱: {{ detail.stockid }}</h1>
		<h2>詳細資料</h2>
		<table>
			<tr>
				<td>簡稱</td>
				<td>{{ detail.abbreviation }}</td>
			</tr>
			<tr>
				<td>網址</td>
				<td>{{ detail.url }}</td>
			</tr>
			<tr>
				<td>員工人數</td>
				<td>{{ detail.employees }}</td>
			</tr>
			<tr>
				<td>實收資本額(元)</td>
				<td>{{ detail.capital }}</td>
			</tr>
			<tr>
				<td>TSE新產業_名稱</td>
				<td>{{ detail.industryname }}</td>
			</tr>
			<tr>
				<td>設立日期</td>
				<td>{{ detail.listeddate }}</td>
			</tr>
			<tr>
				<td><a href="/company">返回清單</a></td>
			</tr>
		</table>
	</body>	
</html>
