div {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
    border: 25px solid blue;
    background-color: yellow;
    padding: 25px 50px 50px 80px;
}