input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid Coral;
    border-radius: 4px;
    background-color:BlanchedAlmond;   
    color: BlueViolet;
}
span {
  color: blue;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid Coral;
    border-radius: 4px;
    background-color: BlanchedAlmond;
    color: BlueViolet;
    font-size: medium;
}