
body {
    color: yellow;
    background-image: url("IMG_6038.jpg");
    background-position: right top;
}
h1 {
    background-color: green;
}
p {
    color: blue;
    background-color: yellow;
}
