p.dotted {border-style: dotted; border-color: Blue}
p.dashed {border-style: dashed;border-color: BlueViolet }
p.solid {border-style: solid;border-color: Brown }
p.double {border-style: double;border-color: BurlyWood }
p.groove {border-style: groove;border-color: CadetBlue }
p.ridge {border-style: ridge;border-color: Chartreuse }
p.inset {border-style: inset;border-color: Chocolate }
p.outset {border-style: outset;border-color: Coral }
p.none {border-style: none;border-color: nflowerBlue  }
p.mix {border-style: dotted dashed solid double;border-color: Crimson }