<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
{% load static %}
<script src="{% static "myapp/E_10_1.js" %}"></script>
</head>
<body>
<p></p>
<fieldset><legend>計算本利和:</legend>
存款金額:<br>
<input type="text" id="amount" name="amount"> <br>
年利率:<br>
<input type="text" id="rate" name="rate"><br>
期數:<br>
<input type="text" id="period" name="period"><br>
</fieldset>
<br><button type="button" id='btn'>送出!</button>
<p>本利和:<span id="result"></span></p>
</body>
</html>